List comprehension :

In [1]:
l1 = [1,2,3,4,5,62,33,11,55,21]
print(l1,id(l1))

[1, 2, 3, 4, 5, 62, 33, 11, 55, 21] 140403694046144

Multiplying each item of a list by 2

In [2]:
l1 = [i**2 for i in l1]
print(l1,id(l1))

[1, 4, 9, 16, 25, 3844, 1089, 121, 3025, 441] 140403694047552

Generating list of 10 no's

In [9]:
l2 = [i for i in range(10)]
print(l2,id(l2))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] 140403693955776

Geenrating a list of even-no between a specified range

In [10]:
even_lst = [i for i in range(10) if i%2==0]
print(even_lst)

[0, 2, 4, 6, 8]

Generating a list of even-no between a specified range and multiplying it by 2

In [11]:
l4 = [i*2 for i in range(10) if i%2==0]
l4

[0, 4, 8, 12, 16]

generate a list of fruits consisting of char 'e'

In [18]:
fruits = ['Apple', 'Watermelon', 'Mandarin', 'Jackfruit', 'Papaya', 'Kiwi', 'Nectarine', 'Grape', 'Mango', 'Blueberry', 'Pomegranate']
list(filter(lambda i:'e' in i,fruits))

['Apple', 'Watermelon', 'Nectarine', 'Grape', 'Blueberry', 'Pomegranate']

or.

In [21]:
l_fruits = [i for i in fruits if 'e' in i]
l_fruits

['Apple', 'Watermelon', 'Nectarine', 'Grape', 'Blueberry', 'Pomegranate']

In [27]:
txt = '''Apple
Watermelon
Orange
Pear
Cherry
Strawberry
Nectarine
Grape
Mango
Blueberry
Pomegranate
Plum
Banana
Raspberry
Mandarin
Jackfruit
Papaya
Kiwi
Pineapple
Lime
Lemon
Apricot
Grapefruit
Melon
Coconut
Avocado
Peach'''

lst = txt.split()
print(lst)

['Apple', 'Watermelon', 'Orange', 'Pear', 'Cherry', 'Strawberry', 'Nectarine', 'Grape', 'Mango', 'Blueberry', 'Pomegranate', 'Plum', 'Banana', 'Raspberry', 'Mandarin', 'Jackfruit', 'Papaya', 'Kiwi', 'Pineapple', 'Lime', 'Lemon', 'Apricot', 'Grapefruit', 'Melon', 'Coconut', 'Avocado', 'Peach']

Fetch the list of fruits starting with A

In [28]:
fruits = ['Apple', 'Watermelon', 'Orange', 'Pear', 'Cherry', 'Strawberry', 'Nectarine', 'Grape', 'Mango', 'Blueberry', 'Pomegranate', 'Plum', 'Banana', 'Raspberry', 'Mandarin', 'Jackfruit', 'Papaya', 'Kiwi', 'Pineapple', 'Lime', 'Lemon', 'Apricot', 'Grapefruit', 'Melon', 'Coconut', 'Avocado', 'Peach']
result = [i for i in fruits if i[0]=='A']
print(result)

['Apple', 'Apricot', 'Avocado']

dict comprehensions :

In [43]:
students = {1:{'name': 'harsh', 'age': 19, 'country': 'USA'},
 2:{'name': 'methew', 'age': 18, 'country': 'Russia'},
 3:{'name': 'Rin', 'age': 22, 'country': 'Canada'},
 4:{'name': 'Tom', 'age': 12, 'country': 'Africa'}}

In [54]:
for i in students.values():
    print(i['name'])

harsh
methew
Rin
Tom

In [65]:
for k,v in students.items():
    print(v['name'])

harsh
methew
Rin
Tom

Fething the list of dict whose name is grater than 3 characters

In [57]:
res = [i['name'] for i in students.values() if len(i['name'])>3]
print(res)

['harsh', 'methew']

or

In [69]:
res = {k:v for k,v in students.items() if len(v['name'])>3}
res

{1: {'name': 'harsh', 'age': 19, 'country': 'USA'},
 2: {'name': 'methew', 'age': 18, 'country': 'Russia'}}

Creating a dict 
- where items of dict : key
- where items*2 of dict : values

Basic idea :

In [70]:
l1 = [1,2,3,4,5]
res = [i*2 for i in l1]

In [71]:
res

[2, 4, 6, 8, 10]

In [74]:
d1 = {i:i*2 for i in l1}
d1

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

Creating a dict

- where items of dict : key
- where even item of dict : values

In [76]:
even_lst1 = {i:i for i in l1 if i%2==0}
even_lst1

{2: 2, 4: 4}

Creating a dict

- where items of dict : key
- where odd item of dict : values

In [77]:
odd_lst1 = {i:i for i in l1 if i%2!=0}
odd_lst1

{1: 1, 3: 3, 5: 5}