Rules of set 
- set does not allow duplicates
- set have no indexing/slicing
- set does not allow mutable data types
- set itself is a mutable data type

Set : is created using {} curly braces

In python the default behaviour of curly braces {}, is set to dict. rather than set 
- therefore here the dic is created instead of set

- So to create an empty set we need to use type casting of set

In [2]:
s1 = {}
s1

{}

In [3]:
type(s1)

dict

Creating an empty set in python

In [9]:
s2 = set()
s2

set()

In [10]:
type(s2)

set

Creating a set

In [12]:
# homogeneous set
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [13]:
type(s1)

set

In [14]:
# heterogeneus set
s2 = {'hey','android',12,'and',18}
s2

{12, 18, 'and', 'android', 'hey'}

In [15]:
type(s2)

set

In [16]:
# set does not allow duplicates
s3 = {11,23,45,11}
s3

{11, 23, 45}

In [17]:
# set does not allow mutable data types
s4 = {(1,2,3),'hey'}
s4

{(1, 2, 3), 'hey'}

In [18]:
s4 = {[1,2,3],'hey'}
s4

TypeError: unhashable type: 'list'

Note: 
- Sets have no indexing 
- the randomness of the set is due to the fact it follows hashing

In [19]:
s5 = {1,2,3,'hey',55,533,33,1,2,'gio'}
s5

{1, 2, 3, 33, 533, 55, 'gio', 'hey'}

We also cannot create 2D 3D or 4D sets

In [20]:
s6 = {{4,5,6},{1,2,3}}
s6

TypeError: unhashable type: 'set'

Note :
- we cannot edit the items inside the set
- but we cann add items into the set
    + This Proves set is a mutable data type

In [29]:
s1 = {1,2,2,3,4}
print(s1,id(s1))

{1, 2, 3, 4} 139631726131456

In [23]:
s1.add(4)
s1

{1, 2, 3, 4}

In [26]:
s1.add(30)
s1

{1, 2, 3, 4, 30}

In [27]:
s1.add('bye')
s1

{1, 2, 3, 30, 4, 'bye'}

In [30]:
print(s1,id(s1))

{1, 2, 3, 4} 139631726131456

Since set is mutable, we can use the folln fucntions on it
- remove
- pop
- del

In [34]:
s1 = {1, 2, 3, 4, 'ok',66}
s1

{1, 2, 3, 4, 66, 'ok'}

In [35]:
# pop
s1.pop()

1

In [36]:
s1

{2, 3, 4, 66, 'ok'}

In [37]:
s1.pop()

2

In [38]:
s1

{3, 4, 66, 'ok'}

In [39]:
# remove

s1.remove('ok')
s1

{3, 4, 66}

In [40]:
# deleting set
s1

{3, 4, 66}

In [41]:
del s1

In [42]:
s1

NameError: name 's1' is not defined

we cannot only use the folln operators on set
- concatinate
- multiplication 

We can only iterate over the set and use membership operator on it
- looping
- membership operator are available

In [52]:
s1 = {3, 4, 66}
s2 = {33, 24, 66, 'oki'}

In [53]:
s1

{3, 4, 66}

In [54]:
s2

{24, 33, 66, 'oki'}

In [55]:
4 in s1

True

In [56]:
'oki' in s1

False

In [57]:
'oki' in s2

True

In [58]:
s2

{24, 33, 66, 'oki'}

In [59]:
for i in s2:
    print(i,end=' ')

24 33 66 oki

Fucctions applicable on set
- len
- min/max/sum : if the set consist only int values

In [60]:
s1 = {3, 4, 66}
s2 = {33, 24, 66, 'oki'}

In [63]:
s1

{3, 4, 66}

In [61]:
max(s1)

66

In [62]:
min(s1)

3

In [64]:
len(s1)

3

Sorted fuctn
- sorted fuctn returns list 
- sorted fuctn only works when the datatype only consist of integer values

In [73]:
sorted(s1)

[3, 4, 66]

In [67]:
sorted(s1,reverse=True)

[66, 4, 3]

Fucntn that are specific to set are :
- union
- intersection
- difference

In [81]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,4,5}

In [84]:
print('s1 ',s1)
print('s2 ',s2)
s1.union(s2)

s1  {1, 2, 3}
s2  {4, 5, 6}

{1, 2, 3, 4, 5, 6}

In [85]:
print('s1 ',s1)
print('s2 ',s2)
s1.intersection(s2)

s1  {1, 2, 3}
s2  {4, 5, 6}

set()

In [83]:
print('s1 ',s1)
print('s3 ',s3)
s1.intersection(s3)

s1  {1, 2, 3}
s3  {3, 4, 5}

{3}

difference 
- s1.difference(s2)
- means present in s1 and not in s2

In [1]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,4,5}

In [2]:
s1.difference(s2)

{1, 2, 3}

In [3]:
s1.difference(s3)

{1, 2}

symmetric difference 
- all the items which are not present in each other

In [4]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,4,5}

In [5]:
s1.symmetric_difference(s2)

{1, 2, 3, 4, 5, 6}

In [6]:
s1.symmetric_difference(s3)

{1, 2, 4, 5}

disjoint sets
- when no item is common between the 2 sets

In [7]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,4,5}

In [8]:
s1.isdisjoint(s2)

True

In [9]:
s1.isdisjoint(s3)

False

subset 
- set A is a subset of another set B if all elements of the set A are elements of the set B.

In [12]:
s1 = {1,2,3}
s2 = {4,5,6}
s3 = {3,4,5}
s4 = {1,2,3}
s5 = {1,2,3,4,5}

In [13]:
s1.issubset(s2)

False

In [14]:
s1.issubset(s3)

False

In [15]:
s1.issubset(s4)

True

In [16]:
s1.issubset(s5)

True

Superset
- set A is considered as the superset of B, if all the elements of set B are the elements of set A

In [17]:
s1 = {1,2,3}
s3 = {3,4,5}
s4 = {1,2,3}
s5 = {1,2,3,4,5}

In [19]:
s1.issuperset(s3)

False

In [20]:
s1.issuperset(s4)

True

In [21]:
s1.issuperset(s5)

False

clear()- to clear/empty the set

In [22]:
s1 = {1,2,3,4,5}
s1

{1, 2, 3, 4, 5}

In [23]:
s1.clear()

In [24]:
s1

set()